<div class="register-container">
  <div class="register-form">
    <div class="logo">
      <img src="assets/images/book-open-svgrepo-com.svg" alt="Logo Icon" class="logo-icon">
      <span class="logo-text">ContrarianReads</span>
    </div>

    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Username</mat-label>
        <input matInput formControlName="username"/>
        <mat-error *ngIf="f['username'].hasError('required')">Username is required</mat-error>
        <mat-error *ngIf="f['username'].hasError('minlength')">Username must be at least 3 characters</mat-error>
        <mat-error *ngIf="f['username'].hasError('maxlength')">Username cannot exceed 30 characters</mat-error>
        <mat-error *ngIf="f['username'].hasError('invalidUsername')">Username can only contain letters, numbers, and
          underscores
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email" placeholder="Enter your email"/>
        <mat-error *ngIf="f['email'].hasError('required')">Email is required</mat-error>
        <mat-error *ngIf="f['email'].hasError('email')">Please enter a valid email address</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password"/>
        <mat-error *ngIf="f['password'].hasError('required')">Password is required</mat-error>
        <mat-error *ngIf="f['password'].hasError('minlength')">Password must be at least 8 characters</mat-error>
        <mat-error *ngIf="f['password'].hasError('maxlength')">Password cannot exceed 128 characters</mat-error>
        <mat-error *ngIf="f['password'].hasError('passwordStrength')">
          Password must contain at least one uppercase letter, one lowercase letter, one number, and one special
          character
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Confirm Password</mat-label>
        <input matInput type="password" formControlName="confirmPassword" placeholder="Confirm your password"/>
        <mat-error *ngIf="f['confirmPassword'].hasError('required')">Confirm password is required</mat-error>
        <mat-error *ngIf="f['confirmPassword'].hasError('passwordMismatch')">Passwords do not match</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Profile Picture URL</mat-label>
        <input matInput type="text" formControlName="profilePictureUrl" placeholder="Enter your profile picture URL"/>
        <mat-error *ngIf="f['profilePictureUrl'].hasError('pattern')">Please enter a valid URL</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Bio</mat-label>
        <textarea matInput formControlName="bio" placeholder="Enter your bio" maxlength="150"></textarea>
        <mat-error *ngIf="f['bio'].hasError('maxlength')">Bio should not exceed 150 characters</mat-error>
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit" [disabled]="registerForm.invalid">
        Register
      </button>

      <p>Already have an account? <a routerLink="/login">Login here</a></p>
    </form>
  </div>
</div>
