<nav class="nav-bar">
  <div class="nav-bar-logo">
    <img src="assets/images/book-open-svgrepo-com.svg" alt="Contrarian Reads" width="24" height="39">
    <span>Contrarian</span>Reads
  </div>
  <div class="nav-bar-text"><span class="suggestion-count">{{ suggestionCount }}</span> opposing views and counting.
  </div>
  <div class="nav-bar-actions">
    <button (click)="openAddAlternativeModal()">Add Alternative</button>
    <button (click)="openUserProfileModal()">Profile</button>
    <button (click)="onLogout()">Logout</button>
  </div>
</nav>
