<div class="modal-container">
  <div class="modal-content">
    <span class="modal-close-button" (click)="onClose()">&times;</span>
    <h2>All Suggestions For The Book (Total: {{ filteredSuggestions.length }})</h2>

    <div class="sticky-header">
      <div class="search-bar-container">
        <input type="text" placeholder="Search suggestions..." [(ngModel)]="searchTerm"
               (ngModelChange)="filterSuggestions()"/>
      </div>

      <div class="sort-dropdown">
        <select [(ngModel)]="orderBy" (ngModelChange)="sortSuggestions()">
          <option value="upvoteCount">Sort by: Upvotes</option>
          <option value="comments.length">Sort by: Comments</option>
          <option value="createdAt">Sort by: Creation Date</option>
        </select>
      </div>
    </div>

    <div class="suggestions-container" *ngIf="filteredSuggestions.length > 0; else noResults">
      <div class="suggestion-row" *ngFor="let suggestion of filteredSuggestions">
        <img [src]="suggestion.suggestedBook.coverImageUrl" alt="Cover" class="cover"
             (click)="openAlternativeDetailsModal(suggestion)">
        <div class="suggestion-info">
          <h3>{{ suggestion.suggestedBook.title }}</h3>
          <p>by {{ suggestion.suggestedBook.author }}</p>
          <p>Suggested by: {{ suggestion.suggestedByUser.username }}
            on {{ suggestion.createdAt | date:"MMM dd, yyyy" }}</p>
          <p>Reason: <span class="reason-text">"{{ suggestion.reason }}"</span></p>
          <p>Upvotes: {{ suggestion.upvoteCount }}</p>
          <p>Comments: {{ suggestion.comments.length }}</p>
        </div>
      </div>
    </div>

    <ng-template #noResults>
      <div class="no-results-message-container">
        <p>No results found</p>
      </div>
    </ng-template>
  </div>
</div>
