.modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  min-width: 50%;
  min-height: 80%;
  max-width: 80%;
  max-height: 80%;
  overflow-y: auto;
}

.modal-close-button {
  position: relative;
  top: 10px;
  left: 97%;
  font-size: 20px;
  cursor: pointer;
}

.sticky-header {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 10;
  padding-bottom: 10px;
}

.suggestions-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.suggestion-row {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
}

.reason-text {
  font-style: italic;
}

.cover {
  width: 100px;
  height: 150px;
  object-fit: cover;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  margin: 1rem;
}

.cover:hover {
  transform: rotate(5deg);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.suggestion-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  margin-left: 1rem;
  margin-right: 1rem;
}

.no-results-message-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 1rem;
  padding: 1rem;
}

.no-results-message-container > p {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  color: #999;
}

.search-bar-container {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-bar-container input {
  width: 90%;
  padding: 8px;
  border: none;
  outline: none;
  font-size: 1rem;
}

.search-bar-container input::placeholder {
  color: #999;
}

.sort-dropdown {
  margin-bottom: 10px;
}

.sort-dropdown select {
  width: fit-content;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

.sort-dropdown select:hover {
  border-color: #999;
}

.sort-dropdown select:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
