<div class="login-container">
  <div class="login-form">
    <div class="logo">
      <img src="assets/images/book-open-svgrepo-com.svg" alt="Logo Icon" class="logo-icon">
      <span class="logo-text">ContrarianReads</span>
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email" required/>
        <mat-error *ngIf="email?.hasError('required')">Email is required</mat-error>
        <mat-error *ngIf="email?.hasError('email')">Invalid email</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" required/>
        <mat-error *ngIf="password?.hasError('required')">Password is required</mat-error>
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">
        Login
      </button>

      <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>

      <p>Don't have an account? <a routerLink="/register">Register here</a></p>
    </form>
  </div>
</div>
