<div class="book-grid">
  <div class="book" *ngFor="let book of books">
    <div class="book-main">
      <img class="book-cover" [src]="book.coverImageUrl" alt="{{ book.title }}">
      <div class="book-info">
        <div class="book-title">{{ book.title }}</div>
        <div class="book-author">{{ book.author }}</div>
      </div>
    </div>
    <div class="suggested-books">
      <div class="suggested-book" *ngFor="let suggestion of book.suggestions">
        <img [src]="suggestion.suggestedBook.coverImageUrl" alt="{{ suggestion.suggestedBook.title }}">
        <div class="book-label">
          <div class="book-title">{{ suggestion.suggestedBook.title }}</div>
          <div class="book-author">{{ suggestion.suggestedBook.author }}</div>
          <div class="suggested-by">Suggested by {{ suggestion.suggestedByUser.username }}</div>
          <div class="reason">{{ suggestion.reason }}</div>
          <div class="upvotes">{{ suggestion.upvoteCount }} upvotes</div>
        </div>
      </div>
    </div>
  </div>
</div>
