.book-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  padding: 20px;
}

.book {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.book-main {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 150px;
  max-height: 150px;
}

.book-cover {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 5px;
  max-height: 200px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.book-info {
  text-align: center;
  display: block;
  width: 100%;
  padding: 10px;
}

.book-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.book-author {
  font-size: 14px;
}

.suggested-books {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 20px;
}

.suggested-book {
  display: flex;
  align-items: center;
  margin: 0.5rem;
}

.suggested-book img {
  max-width: 120px;
  height: 150px;
  object-fit: cover;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.book-label {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}

.book-title {
  font-size: 14px;
  font-weight: bold;
}

.book-author {
  font-size: 12px;
  color: #666;
}

.suggested-by {
  font-size: 12px;
  color: #666;
}

.reason {
  font-size: 12px;
  color: #666;
}

.upvotes {
  font-size: 12px;
  color: #666;
}
