.book-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem;
  padding: 20px;
}

.book {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.book-main {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 150px;
  max-height: 150px;
}

.total-suggestions {
  text-align: center;
  margin: 5px;
  text-decoration: underline;
}

.total-suggestions:hover {
  cursor: pointer;
}

.book-cover {
  width: 150px;
  max-width: 150px;
  height: 250px;
  max-height: 250px;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  margin: 10px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out, filter 0.3s ease-in-out;
  cursor: pointer;
}

.book-cover:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  filter: brightness(0.8);
  transform: scale(1.03);
}

.book-info-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  width: 100%;
  padding: 10px;
}

.book-title {
  font-size: 18px;
  font-weight: bold;
}

.book-author {
  font-style: italic;
  font-size: 14px;
}

.suggested-books {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 2rem;
}

.suggested-book {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin: 0.5rem;
}

.suggested-book-cover {
  position: relative;
}

.suggested-book img {
  width: 100px;
  max-width: 100px;
  height: 150px;
  max-height: 150px;
  object-fit: cover;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out, filter 0.3s ease-in-out;
  cursor: pointer;
}

.suggested-book img:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  filter: brightness(0.8);
  transform: scale(1.03);
}

.upvoted-mark-container {
  position: absolute;
  bottom: 10px;
  right: 5px;
}

.upvoted-mark {
  font-size: 1rem;
  border-radius: 50%;
  padding: 5px;
  background-color: var(--accent-color);
  color: var(--primary-color);
  cursor: pointer;
  line-height: 1;
}

.upvoted-mark:hover {
  background-color: var(--highlight-color);
}

.suggested-book-info {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  align-items: flex-start;
  justify-content: center;
}

.book-title {
  font-size: 14px;
  font-weight: bold;
}

.book-author {
  font-size: 12px;
  color: #666;
}

.suggested-by {
  font-size: 12px;
  color: #666;
}

.reason {
  font-style: italic;
  font-size: 12px;
  color: #666;
}

.upvotes {
  font-size: 12px;
  color: #666;
}

.comments {
  font-size: 12px;
  color: #666;
}
