<div class="modal-container">
  <div class="modal-content">
    <span class="modal-close-button" (click)="onClose()">&times;</span>
    <h2>Suggested Book Details</h2>

    <div *ngIf="this.data.suggestion" class="book-info-container">

      <div class="left-column-container">
        <div class="left-column-content">
          <div class="upvotescount-container">
            <p>Total upvotes: {{ this.data.suggestion.upvotesCount }}</p>
          </div>
          <img [src]="this.data.suggestion.suggestedBook.coverImageUrl" alt="Book Cover" class="book-cover">
          <div class="suggestion-info-container">
            <h3 class="book-title">{{ this.data.suggestion.suggestedBook.title }}</h3>
            <p class="book-author">{{ this.data.suggestion.suggestedBook.author }}</p>
          </div>
          <button class="upvote-button" (click)="addUpvote(this.data.suggestion.id)">Upvote book</button>
        </div>
      </div>

      <div class="right-column-container">
        <p>Suggested by <span class="suggested-by"> {{ this.data.suggestion.suggestedByUser.username }} </span>
          on {{ this.data.suggestion.createdAt | date:"MMM dd, yyyy" }}</p>
        <p>Reason for suggestion: "<span class="reason-text">{{ this.data.suggestion.reason }}</span>"</p>

        <div class="add-comment-section">
          <mat-form-field appearance="outline" class="comment-input">
            <mat-label>Add a comment</mat-label>
            <textarea class="comment-input"
                      matInput
                      placeholder="Enter your comment here..."
                      [(ngModel)]="newCommentText"
                      maxlength="150">
            </textarea>
            <small class="character-count">{{ 150 - newCommentText.length }}</small>
          </mat-form-field>
          <button class="add-comment-button" (click)="addComment(newCommentText)">Add Comment</button>
        </div>
        <div *ngIf="this.comments.length > 0; else noCommentsSection">
          <h4>Comments (Total: {{ this.comments.length }})</h4>
          <app-comment-box [comments]="comments"></app-comment-box>
        </div>

        <ng-template #noCommentsSection>
          <p>No comments yet...</p>
        </ng-template>
      </div>

    </div>

  </div>
</div>
