<div class="modal-container">
  <div class="modal-content">
    <span class="modal-close-button" (click)="onClose()">&times;</span>
    <h2>Suggested Book Details</h2>

    <div *ngIf="alternativeData" class="book-info-container">

      <div class="left-column-container">
        <div class="left-column-content">
          <img [src]="alternativeData.suggestedBook.coverImageUrl" alt="Book Cover" class="book-cover">
          <div class="suggestion-info-container">
            <h3 class="book-title">{{ alternativeData.suggestedBook.title }}</h3>
            <p class="book-author">{{ alternativeData.suggestedBook.author }}</p>
          </div>
          <button class="upvote-button" (click)="addUpvote()">Upvote book</button>
        </div>
      </div>

      <div class="right-column-container">
        <p>Suggested by {{ alternativeData.suggestedByUser.username }}
          on {{ alternativeData.createdAt | date:"MMM dd, yyyy '@' hh:mm a" }}</p>
        <p>Reason for suggestion: "<span class="reason-text">{{ alternativeData.reason }}</span>"</p>
        <p>Total upvotes: {{ alternativeData.upvoteCount }}</p>

        <div class="add-comment-section">
          <mat-form-field appearance="outline" class="comment-input">
            <mat-label>Add a comment</mat-label>
            <textarea class="comment-input"
                      matInput
                      placeholder="Enter your comment here..."
                      [(ngModel)]="newCommentText"
                      maxlength="150">
            </textarea>
            <small class="character-count">{{ 150 - newCommentText.length }}</small>
          </mat-form-field>
          <button class="add-comment-button" (click)="addComment(newCommentText)">Add Comment</button>
        </div>
        <div *ngIf="alternativeData.comments.length > 0; else noComments">
          <h4>Comments (Total: {{ alternativeData.comments.length }})</h4>
          <app-comment-box [comments]="comments"></app-comment-box>
        </div>

        <ng-template #noComments>
          <p>No comments yet...</p>
        </ng-template>
      </div>

    </div>

  </div>
</div>
