.book-info-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.left-column-container {
  align-self: center;
  flex-grow: 1;
}

.right-column-container {
  align-self: flex-start;
  flex-grow: 2;
}

.book-cover {
  width: 200px;
  height: 300px;
  object-fit: cover;
  margin-bottom: 20px;
}
