<div class="comment-box-container" [ngClass]="{ 'isScrollable': nestingLevel === 0 }">
  <div *ngFor="let comment of comments">
    <div class="comment"
         [style.marginLeft.px]="nestingLevel * 30"
         [style.borderLeft]=" '4px solid' + getRandomPastelColor()">

      <div class="first-line">
        <img [src]="comment.user.profilePictureUrl || '../../assets/images/default-avatar.png'"
             alt="Avatar" class="avatar">
        <div class="user-and-comment"><strong>{{ comment.user.username }}</strong>: {{ comment.content }}</div>
      </div>

      <div class="comment-details">
        <div class="comment-timestamp">{{ comment.createdAt | date:"MMM dd, yyyy '@' hh:mm a" }}</div>

      </div>

      <div class="reply-button-container">
        <div class="reply-text"
             (click)="toggleReply(comment.id)">{{ replyingToCommentId === comment.id ? 'Cancel' : 'Reply' }}
        </div>
      </div>

      <div *ngIf="replyingToCommentId === comment.id" class="reply-box">
        <textarea #replyContent placeholder="Write your reply..." maxlength="150"
                  (input)="updateCharCount(replyContent.value)"></textarea>
        <button class="reply-send-button" (click)="addReply(comment, replyContent.value)">Send</button>
      </div>

      <div *ngIf="replyingToCommentId === comment.id" class="char-counter" [class.near-limit]="charCount > 130">
        {{ charCount }}/150 characters
      </div>

    </div>

    <div class="reply-container" *ngIf="comment.replies && comment.replies.length > 0">
      <app-comment-box [comments]="comment.replies"
                       [nestingLevel]="nestingLevel + 1">
      </app-comment-box>
    </div>
  </div>
</div>
