.comment-box-container {
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  max-height: 600px;
}

/* prevents showing overflow scrollbar in nestingLevel > 1 comment boxes */
.isScrollable {
  overflow-y: scroll;
}

.comment {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  width: fit-content;
  max-width: 60%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #f5f5f5;
  color: #333;
  position: relative;
}

.comment::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: -15px;
  width: 2px;
}

.first-line {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.avatar {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  vertical-align: middle;
}

.user-and-comment {
  margin-left: 0.5rem;
}

.comment-details {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

.comment-timestamp {
  font-size: 0.8rem;
  color: #888;
  text-align: right;
  margin-top: 5px;
}

.reply {
  margin-left: 30px;
  padding-left: 10px;
}

.reply-button-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 5px;
}

.reply-button-container:hover {
  cursor: pointer;
  text-decoration: underline;
}

.reply-text {
  color: var(--text-color);
  text-align: center;
}

.reply-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1rem;
  height: 1rem;
  margin-left: 5px;
  margin-top: 3px;
}

.reply-box {
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 10px;
  border-radius: 5px;
  width: 400px;
}

.reply-box textarea {
  width: 100%;
  resize: none;
  padding: 8px;
  border-radius: 5px;
  border: var(--text-color) 1px solid;
}

.char-counter {
  font-size: 12px;
  color: #666;
  margin-bottom: 5px;
  transition: color 0.2s ease;
  text-align: center;
}

.char-counter.near-limit {
  color: #ff4444;
}

.reply-send-button {
  margin-left: 5px;
  border-radius: 5px;
  background-color: var(--accent-color);
  cursor: pointer;
  color: black;
  border: var(--text-color) 1px solid;
  padding: 5px 10px;
}
